<!DOCTYPE html>

<html>

  <head th:substituteby="header :: copy">
  	
  	<style type="text/css">
  	</style>
  </head>

  <body>
 	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h1 class="panel-title">Error</h1>
	  </div>
	  <div class="panel-body" style="min-height:400px">
	    <p><h2>Se produjo un error inesperado, por favor vuelva a intentarlo mas tarde.</h2></p>
	  </div>
  	</div>
  	
  	<div th:substituteby="footer :: copy"></div>
  </body>

</html>